#topic0 {
  height: 600px;
  background-color: tan;
}


#topic1 {
  height: 800px;
  background-color: pink;
}

#topic2 {
  height: 600px;
  background-color: yellow;
}

#topic3 {
  height: 600px;
  background-color: orange;
}

#topic4 {
  height: 600px;
  background-color: green;
}

#topic5 {
  height: 600px;
  background-color: blue;
}

#topic6 {
  height: 900px;
  background-color: teal;
}

#topic7 {
  height: 900px;
  background-color: pink;
}
